* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: #e3e2e2;
}

section.card-form {
    width: 90%;
    max-width: 1326px;
    min-width: 290px;
    min-height: 85vh;

    margin: 25px auto;
    background-color: #ffffff;
    border-radius: 25px;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    gap: 10%;
}

article.card-article {
    width: 40%;
    padding: 20px 15px;
    text-align: center;
    background-image: url("../imgs/banner.png");

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

article.card-article h2 {
    font-size: 32px;
    text-transform: uppercase;
}

article.card-article p {
    background-color: #e3e2e285;
    border-radius: 12px;
    padding: 5px;
}

section.section-form {
    width: 50%;
    display: flex;
    align-items: center;
}

section.section-form form {
    width: 90%;
}

.invalid-feedback {
    display: block;
}

.navbar {
    width: 100%;
}

.route-link {
    text-align: center;
}

.container-notes {
    min-height: calc(100vh - 70px);
    margin: 14px 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.card-note {
    width: 35%;
    max-width: 395px;
    min-width: 250px;
    background-color: #ffffff;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.card-note--color {
    width: 100%;
    background-color: orangered;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    padding: 5px;

    display: flex;
    justify-content: flex-end;
}

.card-note--infos {
    padding: 5px;
}

.card-note--infos-titulo {
    font-size: 32px;
}

.card-note--infos-note {
    font-size: 17px;
}

.dropdown-item .fa-solid {
    margin-right: 15px;
}

.container-modal {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100vh;
    padding: 25px;
    align-items: center;
    justify-content: center;
}

.container-form--create {
    width: 85%;
    padding: 25px;
    background-color: #ffffff;
}

.close-modal {
    width: 100%;
    display: flex;
    justify-content: end;
}

.close-modal i {
    font-size: 25px;
    color: #f30b0b;
    cursor: pointer;
}

.colors {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.color-note {
    width: 75px;
    height: 75px;
    border-radius: 0.375rem;
    cursor: pointer;
}

div.form-check-inline {
    display: inline-block;
    margin-right: 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}

div.form-check {
    min-height: 0;
    padding-left: 0;
    margin-bottom: 0;
}

.form-check .form-check-input {
    margin-left: 0;
}
